# Server Configuration
PORT=3000
MONGO_URI=mongodb://127.0.0.1:27017/ehr_db
JWT_SECRET=

# Twilio Credentials (Required for OTP)
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_VERIFY_SERVICE_SID=

# Security Keys (Paste RSA Private Key with escaped newlines \n)
PRIVATE_KEY=
